<%- include('../public/header') %>
<body class="myself tmw-in extinguisher-transition">
	<div class="animsition">
		<%- include('../public/nav') %>
		<main>
		<section class="mask-in"></section>
		<div class="pieces" style="background-image: url(../img/normal.jpg)" data-img-alt="url(img/alt.jpg)" data-img-code="url(../img/code.jpg)"></div>
		<div class="overlay overlay--hidden"></div>
		<div class="content">
			<div class="content__inner">
				<div class="content__top">
					<h2 class="title">
					<span class="title__inner mode mode--design" data-switch data-glitch>Annie Fox</span>
					</h2>
					<div class="controls">
						<a class="codrops-icon codrops-icon--prev" href="https://tympanus.net/Development/GridLoadingAnimations/" title="Previous Demo"><svg class="icon icon--arrow"><use xlink:href="#icon-arrow"></use></svg></a>
						<a class="codrops-icon codrops-icon--drop" href="https://tympanus.net/codrops/?p=30725" title="Back to the article"><svg class="icon icon--drop"><use xlink:href="#icon-drop"></use></svg></a>
						<button class="btn btn--menu mode mode--design" data-switch>
					<svg class="icon icon--menu"><use xlink:href="#icon-menu"></use></svg>
				<svg class="icon icon--menu-alt"><use xlink:href="#icon-menu-alt"></use></svg>
				</button>
			</div>
		</div>
		<div class="menu menu--code">
			<ul class="menu__inner">
				<li class="menu__item"><a class="menu__link" data-switch>On Coding</a></li>
				<li class="menu__item"><a class="menu__link" data-switch>Experiments</a></li>
				<li class="menu__item"><a class="menu__link" data-switch>Current Projects</a></li>
				<li class="menu__item"><a class="menu__link" data-switch>Tutorials</a></li>
				<li class="menu__item"><a class="menu__link" data-switch>> Find me on GitHub</a></li>
			</ul>
		</div>
		<div class="content__bottom">
			<div class="switch mode mode--design">
				<a class="switch__item switch__item--current">Designer</a>
				<a class="switch__item"><span class="mode mode--design" data-switch data-glitch>Coder</span></a>
			</div>
			<div class="link-wrap">
				<a class="contact-link mode mode--design" data-switch data-glitch>Work with me</a>
			</div>
		</div>
		<!-- Sponsor -->
		<a class="pater mode mode--design" href="http://synd.co/2p3Fi7n">
			<img src="../img/hired.png" class="pater__img" />
			<h2 class="pater__title" aria-label="Hired">​Get Your Next Tech Job<br> Faster. Get Hired</h2>
			<p class="pater__desc">On Hired, companies apply to you. Get in front of 6,000 innovative companies, looking to hire great talent.</p>
		</a>
		</div><!-- /content__inner-->
		</div><!-- /content -->
		<div class="loading"></div>
		</main>
	</div>
	<script src="../js/charming.min.js"></script>
	<script src="../js/myself.js"></script>
	<script src="../js/nav.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>