<%- include('../public/header') %>
<body class="share tmw-in extinguisher-transition">
<div class="animsition">
	<%- include('../public/nav') %>
	<%- include('../public/title') %>
	<main></main>
	<script src="../js/nav.js"></script>
	<script src="../js/room.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>