<%- include('../public/header') %>
<body class="share tmw-in extinguisher-transition">
<div class="animsition">
	<%- include('../public/nav') %>
	<%- include('../public/title') %>
	<main>
		<section class="mask-in"></section>
		<section class="container">
			<div class="scroller">
				<div class="room room--current">
					<div class="room__side room__side--back">
						<img class="room__img" src="img/set4/3.jpg" alt="Some image"/>
						<img class="room__img" src="img/set4/6.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--left">
						<img class="room__img" src="img/set4/7.jpg" alt="Some image"/>
						<img class="room__img" src="img/set4/1.jpg" alt="Some image"/>
						<img class="room__img" src="img/set4/2.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--right">
						<img class="room__img" src="img/set4/4.jpg" alt="Some image"/>
						<img class="room__img" src="img/set4/5.jpg" alt="Some image"/>
						<img class="room__img" src="img/set4/8.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--bottom"></div>
				</div>
				<!-- /room -->
				<div class="room">
					<div class="room__side room__side--back">
						<img class="room__img" src="img/set2/1.jpg" alt="Some image"/>
						<img class="room__img" src="img/set2/6.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--left">
						<img class="room__img" src="img/set2/3.jpg" alt="Some image"/>
						<img class="room__img" src="img/set2/4.jpg" alt="Some image"/>
						<img class="room__img" src="img/set2/5.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--right">
						<img class="room__img" src="img/set2/8.jpg" alt="Some image"/>
						<img class="room__img" src="img/set2/7.jpg" alt="Some image"/>
						<img class="room__img" src="img/set2/2.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--bottom"></div>
				</div>
				<!-- /room -->
				<div class="room">
					<div class="room__side room__side--back">
						<img class="room__img" src="img/set3/1.jpg" alt="Some image"/>
						<img class="room__img" src="img/set3/6.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--left">
						<img class="room__img" src="img/set3/3.jpg" alt="Some image"/>
						<img class="room__img" src="img/set3/4.jpg" alt="Some image"/>
						<img class="room__img" src="img/set3/5.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--right">
						<img class="room__img" src="img/set3/8.jpg" alt="Some image"/>
						<img class="room__img" src="img/set3/7.jpg" alt="Some image"/>
						<img class="room__img" src="img/set3/2.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--bottom"></div>
				</div>
				<!-- /room -->
				<div class="room">
					<div class="room__side room__side--back">
						<img class="room__img" src="img/set1/3.jpg" alt="Some image"/>
						<img class="room__img" src="img/set1/6.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--left">
						<img class="room__img" src="img/set1/7.jpg" alt="Some image"/>
						<img class="room__img" src="img/set1/1.jpg" alt="Some image"/>
						<img class="room__img" src="img/set1/2.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--right">
						<img class="room__img" src="img/set1/4.jpg" alt="Some image"/>
						<img class="room__img" src="img/set1/5.jpg" alt="Some image"/>
						<img class="room__img" src="img/set1/8.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--bottom"></div>
				</div>
				<!-- /room -->
				<div class="room">
					<div class="room__side room__side--back">
						<img class="room__img" src="img/set5/7.jpg" alt="Some image"/>
						<img class="room__img" src="img/set5/5.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--left">
						<img class="room__img" src="img/set5/6.jpg" alt="Some image"/>
						<img class="room__img" src="img/set5/4.jpg" alt="Some image"/>
						<img class="room__img" src="img/set5/3.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--right">
						<img class="room__img" src="img/set5/2.jpg" alt="Some image"/>
						<img class="room__img" src="img/set5/1.jpg" alt="Some image"/>
						<img class="room__img" src="img/set5/8.jpg" alt="Some image"/>
					</div>
					<div class="room__side room__side--bottom"></div>
				</div>
				<!-- /room -->
			</div>
		</section>
		<!-- /container -->
		<section class="content">
			<header class="codrops-header">
				<button class="btn btn--info btn--toggle">
					<svg class="icon icon--info">
						<use xlink:href="#icon-info"></use>
					</svg>
					<svg class="icon icon--cross">
						<use xlink:href="#icon-cross"></use>
					</svg>
				</button>
				<button class="btn btn--menu btn--toggle">
					<svg class="icon icon--menu">
						<use xlink:href="#icon-menu"></use>
					</svg>
					<svg class="icon icon--cross">
						<use xlink:href="#icon-cross"></use>
					</svg>
				</button>
				<div class="overlay overlay--menu">
					<ul class="menu">
						<li class="menu__item menu__item--current">
							<a class="menu__link" href="#">Exhibitions</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Discover</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Visit us</a>
						</li>
						<li class="menu__item">
							<a class="menu__link" href="#">Shop</a>
						</li>
					</ul>
				</div>
				<div class="overlay overlay--info">
					<p class="info">
						&ldquo;Life in Pieces&rdquo; is the subject of all exhibitions taking place in the Mirai Art Gallery in 2017. Fragments of lost memories, fleeting moments and the breaking apart of human nature are this year's highlighted topics. We welcome you to a exploration space of a unique kind&mdash;the one that will stay with you and impact you on many levels. Come visit us.
					</p>
				</div>
			</header>
			<h4 class="location">Mirai Art Gallery &amp; Exhibition Center, Sapporo, Japan</h4>
			<div class="slides">
				<div class="slide">
					<h2 class="slide__name">
						Kato
						<br/>
						Yatsumoto
					</h2>
					<h3 class="slide__title">
						<span>&ldquo;Understanding Life&rdquo;</span>
						<div class="slide__number">
							Room <strong>Tenjin</strong>
						</div>
					</h3>
					<p class="slide__date">25 Mar – 11 May 2017</p>
				</div>
				<div class="slide">
					<h2 class="slide__name">
						Aiko
						<br/>
						Akiyama
					</h2>
					<h3 class="slide__title">
						<span>&ldquo;Faces of Peace&rdquo;</span>
						<div class="slide__number">
							Room <strong>Suijin</strong>
						</div>
					</h3>
					<p class="slide__date">31 Mar – 25 Apr 2017</p>
				</div>
				<div class="slide">
					<h2 class="slide__name">
						Misako
						<br/>
						Shiraishi
					</h2>
					<h3 class="slide__title">
						<span>&ldquo;Instant Gratification&rdquo;</span>
						<div class="slide__number">
							Room
							<strong>Izanami</strong>
						</div>
					</h3>
					<p class="slide__date">4 Apr – 30 Apr 2017</p>
				</div>
				<div class="slide">
					<h2 class="slide__name">
						Tadashi
						<br/>
						Takayama
					</h2>
					<h3 class="slide__title">
						<span>&ldquo;Facts of Blossoms&rdquo;</span>
						<div class="slide__number">
							Room
							<strong>Raijin</strong>
						</div>
					</h3>
					<p class="slide__date">15 Apr – 18 May 2017</p>
				</div>
				<div class="slide">
					<h2 class="slide__name">
						Etsuko
						<br/>
						Hamasaki
					</h2>
					<h3 class="slide__title">
						<span>&ldquo;In Loving Memory&rdquo;</span>
						<div class="slide__number">
							Room
							<strong>Hachiman</strong>
						</div>
					</h3>
					<p class="slide__date">5 May – 17 Jun 2017</p>
				</div>
			</div>
			<nav class="nav">
				<button class="btn btn--nav btn--nav-left">
					<svg class="nav-icon nav-icon--left" width="42px" height="12px" viewBox="0 0 70 20">
						<path class="nav__triangle" d="M52.5,10L70,0v20L52.5,10z"/>
						<path class="nav__line" d="M55.1,11.4H0V8.6h55.1V11.4z"/>
					</svg>
				</button>
				<button class="btn btn--nav btn--nav-right">
					<svg class="nav-icon nav-icon--right" width="42px" height="12px" viewBox="0 0 70 20">
						<path class="nav__triangle" d="M52.5,10L70,0v20L52.5,10z"/>
						<path class="nav__line" d="M55.1,11.4H0V8.6h55.1V11.4z"/>
					</svg>
				</button>
			</nav>
		</section>
		<!-- /content -->
		<section class="loading overlay--loader"></section>
	</main>
	<script src="../js/nav.js"></script>
	<script src="../js/room.js"></script>
	<script src="../js/common.js"></script>
</body>
</html>