<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="伟大鱼塘" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="email=no" name="format-detection" />
	<meta name="apple-mobile-web-app-title" content="That's My Way">
	<meta name="renderer" content="webkit">
	<title>CMS</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/server.css"/>
	<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--Favicons-->
	<script src="../lib/jquery-3.1.1.min.js"></script>
	<script src="../lib/moment.min.js"></script>
</head>
<body class="tmw">
	<header class="clearfix">
		<div class="fl">
			<h4>That's My Way</h4>
			<form>
				<input class="serch" type="text" name="">
				<button type="button"> <i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<div class="fr">
			<a class="user" href="" title="账户"> <i class="fa fa-user-circle" aria-hidden="true"></i>
			</a>
			<a class="user" href="" title="设置">
				<i class="fa fa-cog" aria-hidden="true"></i>
			</a>
			<a class="message" href="" title="信息">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</a>
			<a class="logout" href="" title="退出">
				<i class="fa fa-power-off" aria-hidden="true"></i>
			</a>
		</div>
		<div class="fr user">
			<span>Admin</span>
			<a class="avatar" href="">
				<img src="../img/avatar.jpg"></a>
		</div>
	</header>
	<main class="container-fluid">
		<div class="row clearfix">
			<nav>
				<ul>
					<li class="mainli">
						<a class="maina" href="javascript:;">
							<i class="fa fa-user-o " aria-hidden="true"></i>
							账户管理
						</a>
						<ul class="mainul">
							<li class="act">
								<a href="">查看账户</a>
							</li>
							<li>
								<a href="">添加账户</a>
							</li>
							<li>
								<a href="">删除账户</a>
							</li>
						</ul>
					</li>
					<li class="mainli">
						<a class="maina" href="javascript:;">
							<i class="fa fa-newspaper-o " aria-hidden="true"></i>
							新闻管理
						</a>
						<ul class="mainul">
							<li>
								<a id="watchnews" href="">查看新闻</a>
							</li>
							<li>
								<a href="">添加新闻</a>
							</li>
							<li>
								<a href="">修改新闻</a>
							</li>
							<li>
								<a href="">删除新闻</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="editarea">
				<div class="news">
					<div class="listheader">
						<ul class="clearfix">
							<li>ID</li>
							<li>标题</li>
							<li>添加人</li>
							<li>添加时间</li>
							<li>操作</li>
						</ul>
					</div>
					<div class="listbody">
						<ul>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</main>
	<div class="container-fluid"></div>
	<script src="../js/server.js"></script>
</body>
</html>