<!DOCTYPE html>
<html lang="zh-CN" class="no-js">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge"/>
	<meta name="author" content="伟大鱼塘" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
	<meta content="telephone=no" name="format-detection" />
	<meta content="email=no" name="format-detection" />
	<meta name="apple-mobile-web-app-title" content="That's My Way">
	<meta name="renderer" content="webkit">
	<title>CMS</title>
	<link rel="stylesheet" type="text/css" href="../css/normalize.css" />
	<link rel="stylesheet" type="text/css" href="../css/fonts.css" />
	<link rel="stylesheet" type="text/css" href="../css/font-awesome.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/bootstrap.min.css" />
	<link rel="stylesheet" type="text/css" href="../css/server.css"/>
	<!--HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries-->
	<!--[if lt IE 9]>
	<script src="http://cdn.bootcss.com/html5shiv/3.7.3/html5shiv.min.js"></script>
	<script src="http://cdn.bootcss.com/respond/1.4.2/respond.min.js"></script>
	<![endif]-->
	<!--Favicons-->
	<script src="../lib/jquery-3.2.0.min.js"></script>
	<script src="../lib/moment.min.js"></script>
</head>
<body class="tmw">
	<header class="clearfix">
		<div class="fl">
			<h4>That's My Way</h4>
			<form>
				<input class="serch" type="text" name="">
				<button type="button"> <i class="fa fa-search" aria-hidden="true"></i>
				</button>
			</form>
		</div>
		<div class="fr">
			<a class="user" href="" title="账户"> <i class="fa fa-user-circle" aria-hidden="true"></i>
			</a>
			<a class="user" href="" title="设置">
				<i class="fa fa-cog" aria-hidden="true"></i>
			</a>
			<a class="message" href="" title="信息">
				<i class="fa fa-envelope-o" aria-hidden="true"></i>
			</a>
			<a class="logout" href="" title="退出">
				<i class="fa fa-power-off" aria-hidden="true"></i>
			</a>
		</div>
		<div class="fr user">
			<span id="username">
				<%=username %></span>
			<a class="avatar" href="">
				<img src="../img/avatar.jpg"></a>
		</div>
	</header>
	<main class="container-fluid">
		<div class="row clearfix">
			<nav>
				<ul>
					<li class="mainli">
						<a class="maina" href="javascript:;">
							<i class="fa fa-user-o " aria-hidden="true"></i>
							账户管理
						</a>
						<ul class="mainul">
							<li>
								<a href="">查看账户</a>
							</li>
							<li>
								<a href="">添加账户</a>
							</li>
						</ul>
					</li>
					<li class="mainli">
						<a class="maina" href="javascript:;">
							<i class="fa fa-user-o " aria-hidden="true"></i>
							主内容管理
						</a>
						<ul class="mainul">
							<li>
								<a href="">查看主内容</a>
							</li>
						</ul>
					</li>
					<li class="mainli">
						<a class="maina" href="javascript:;">
							<i class="fa fa-newspaper-o " aria-hidden="true"></i>
							新闻管理
						</a>
						<ul class="mainul">
							<li class="act">
								<a class="shownews" href="javascript:;">查看新闻</a>
							</li>
							<li>
								<a class="addnews" href="javascript:;">添加新闻</a>
							</li>
						</ul>
					</li>
					<li class="mainli">
						<a class="maina" href="javascript:;">
							<i class="fa fa-newspaper-o " aria-hidden="true"></i>
							日志管理
						</a>
						<ul class="mainul">
							<li>
								<a class="showdailies" href="javascript:;">查看日志</a>
							</li>
							<li>
								<a class="adddaily" href="javascript:;">添加日志</a>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<div class="editarea">
				<div class="article item">
					<div class="listheader">
						<ul class="clearfix">
							<li>ID</li>
							<li>标题</li>
							<li>添加人</li>
							<li>修改人</li>
							<li>添加/编辑时间</li>
							<li>操作</li>
						</ul>
						<ul class="clearfix oper">
							<li>
								<a href="javascript:;" class="groupdel">删除</a>
							</li>
							<li>
								<a href="javascript:;" class="groupres">反选</a>
							</li>
							<li>
								<a href="javascript:;" class="groupall">全选</a>
							</li>
						</ul>
					</div>
					<div class="listbody">
						<ul></ul>
					</div>
				</div>
				<div class="editartarea item disnone">
					<form enctype="multipart/form-data" method="post">
						<div class="form-group aid disnone">
							<label for="aid">文章ID</label>
							<input type="text" class="form-control" id="aid" name="aid" readonly="readonly" placeholder=""></div>
						<div class="form-group">
							<label for="titles">文章短标题</label>
							<input type="text" class="form-control" id="titles" name="titles" placeholder=""></div>
						<div class="form-group">
							<label for="listimg">文章列表图片</label>
							<div class="filediv">
								<i class="fa fa-file-image-o"></i>
								<input type="file" id="listimg" name="listimg">
								<label for="listimg">添加图片</label>
							</div>
						</div>
						<div class="form-group">
							<label for="titlel">文章长标题</label>
							<input type="text" class="form-control" id="titlel" name="titlel" placeholder=""></div>
						<div class="form-group">
							<label for="content">文章内容</label>
							<textarea class="form-control" id="content" name="content" rows="5"></textarea>
						</div>
						<div class="newsbtn">
							<button id="subbtn-news" type="submit" class="btn btn-success">保存</button>
							<button id="editbtn-news" type="submit" class="btn btn-success disnone">修改</button>
						</div>
						<div class="dailybtn">
							<button id="subbtn-daily" type="submit" class="btn btn-success">保存</button>
							<button id="editbtn-daily" type="submit" class="btn btn-success disnone">修改</button>
						</div>
					</form>
				</div>
				<div class="article2 disnone item">
					<div class="listheader">
						<ul class="clearfix">
							<li>模块名</li>
							<li>英文标题</li>
							<li>添加人</li>
							<li>修改人</li>
							<li>添加/编辑时间</li>
							<li>操作</li>
						</ul>
						<ul class="clearfix oper">
							<li>
								<a href="javascript:;" class="groupdel">删除</a>
							</li>
							<li>
								<a href="javascript:;" class="groupres">反选</a>
							</li>
							<li>
								<a href="javascript:;" class="groupall">全选</a>
							</li>
						</ul>
					</div>
					<div class="listbody">
						<ul></ul>
					</div>
				</div>
				<div class="editartarea2 item disnone">
					<form enctype="multipart/form-data" method="post">
						<div class="form-group">
							<label for="entitle">英文标题</label>
							<input type="text" class="form-control" id="entitle" name="entitle" placeholder=""></div>
							<div class="form-group">
							<label for="intro">短介绍</label>
							<input type="text" class="form-control" id="intro" name="intro" placeholder=""></div>
						<div class="form-group">
							<label for="bgimg">文章列表图片</label>
							<div class="filediv">
								<i class="fa fa-file-image-o"></i>
								<input type="file" id="bgimg" name="bgimg">
								<label for="bgimg">添加图片</label>
							</div>
						</div>
						<button id="editbtn-main" type="submit" class="btn btn-success">修改</button>
					</form>
				</div>
			</div>
		</div>
	</main>
	<div class="container-fluid"></div>
	<script src="../js/server.js"></script>
</body>
</html>